@charset "utf-8";

.table {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px 5px; //table영역 안에 있는 td와 th에 스타일을 주는것임.
  }
}
